@model PersonalFinanceApplication.Models.BalanceDto
@{
    ViewBag.Title = "Details";
}

<nav style="margin-bottom: 20px;">
    <a href="/Balance/List">Go back</a> |
    <a href="/Balance/Edit/@Model.BalanceId">Update</a> |
    <a style="color:#ab2020;" href="/Balance/DeleteConfirm/@Model.BalanceId">Delete</a>
</nav>
<h2>@Model.PeriodYear-<span id="monthFormatted"></span></h2>
<div style="margin-top: 20px;">
    <h3>Assets</h3>
    <div>Chequing Account Balance: $@Model.ChequingAcct</div>
    <div>Savings Account Balance: $@Model.SavingsAcct</div>
    <div><strong>Total: $@(Model.ChequingAcct + Model.SavingsAcct)</strong></div>
</div>
<div style="margin-top: 20px;">
    <h3>Liabilities</h3>
    <div>Revolving Credit Balance: $@Model.RevolvingCrdt</div>
    <div>Instalment Credit Balance: $@Model.InstalmentCrdt</div>
    <div><strong>Total: $@(Model.RevolvingCrdt + Model.InstalmentCrdt)</strong></div>
</div>
<div style="margin-top: 20px;">
    <h3>Net Worth</h3>
    <div><strong>Assets less Liabilities: $@(Model.ChequingAcct + Model.SavingsAcct - (Model.RevolvingCrdt + Model.InstalmentCrdt))</strong></div>
</div>

<script>
    let monthFormatted = document.getElementById("monthFormatted");

    if (@Model.PeriodMonth < 10) {
        monthFormatted.innerHTML = "0" + @Model.PeriodMonth;
    } else {
        monthFormatted.innerHTML = @Model.PeriodMonth;
    }
</script>
