@model PantryManagementBudgetApp2.Models.PurchaseDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this purchase record?</h2>
<a href="/Purchase/List">Cancel</a>
<h2>@Model.PeriodYear-@Model.PeriodMonth</h2>
<div>Asset: $@(Model.ChequingAcct + Model.SavingsAcct)</div>
<div>Liability: $@(Model.RevolvingCrdt + Model.InstalmentCrdt)</div>
<div>Net: $@(Model.ChequingAcct + Model.SavingsAcct - (Model.RevolvingCrdt + Model.InstalmentCrdt))</div>

<form action="/Purchase/Delete/@Model.PurchaseId" method="post">
    <input type="submit" value="Delete" />
</form>
