@model IEnumerable<PantryManagementBudgetApp2.Models.PurchaseDto>
@{
    ViewBag.Title = "List";
}

<h2>Purchases</h2>
<a href="/Purchase/New">Add new purchase</a>
@foreach(var purchase in Model)
{
    <hr />
    <h3><a href="/Purchase/Details/@purchase.PurchaseID">@purchase.PeriodYear-@purchase.PeriodMonth</a></h3>
    <div><a href="/PantryItem/details/@purchase.PantryItemID">@purchase.PantryItemName</a></div>
    <div>Quantity: @purchase.Qty</div>
    <div>Unit Price: CAD$@purchase.UnitPrice</div>
}
