@model IEnumerable<PantryManagementBudgetApp2.Models.PurchaseDto>
@{
    ViewBag.Title = "Create";
}

<h2>Enter New Purchase</h2>

<form action="/Purchase/Create" method="post">
    <div>
        <label>Period:</label>
        <select name="PurchaseId">
            @foreach (var periods in Model)
            {
                <option value="@purchase.PurchaseId">@purchase.PeriodYear-@purchase.PeriodMonth</option>
            }
        </select>
    </div>
    <div>
        <label>Pantry Item:</label> <input type="number" name="PantryItemName" />
    </div>
    <div>
        <label>Unit Price:</label> <input type="number" name="PantryItemUnitPrice" />
    </div>
    <div>
        <label>Quantity:</label> <input type="number" name="PantryItemCurrentQty" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>
