@model IEnumerable<PantryManagementBudgetApp2.Models.PurchaseDto>
@{
    ViewBag.Title = "Create";
}

<h2>Enter New Purchase</h2>

<form action="/Purchase/Create" method="post">
    <div>
        <label>Period:</label>
        <select name="PeriodId">
            @foreach (var periods in Model)
            {
                <option value="@periods.PeriodId">@periods.PeriodYear-@periods.PeriodMonth</option>
            }
        </select>
    </div>
    <div>
        <label>Pantry Item:</label>
        <select name="PantryItemID">
            @foreach (var pantryitem in Model)
            {
                <option value="@pantryitem.PantryItemID">@pantryitem.PantryItemName</option>
            }
        </select>
    </div>
    <div>
        <label>Unit Price:</label> <input type="number" name="PantryItemUnitPrice" />
    </div>
    <div>
        <label>Quantity:</label> <input type="number" name="PantryItemCurrentQty" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>
