﻿
@{
    ViewBag.Title = "Create";
}


<h2>Create Tag</h2>

<form action="/Tag/Create" method="POST">
    <div>
        <label>Name:</label> <input type="text" name="TagName" />
    </div>

    <div>

    </div>
    <div>
        <input type="submit" value="Add Tag" />

    </div>
</form>