@model PantryManagementBudgetApp2.Models.CashflowDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this cashflow record?</h2>
<a href="/Cashflow/List">Cancel</a>
<h2>@Model.PeriodYear-@Model.PeriodMonth</h2>
<div>Inflow: $@(Model.PrimaryIncome + Model.MiscIncome)</div>
<div>Outflow: $@(Model.NecessarySpend + @Model.DiscretionarySpend)</div>
<div>Net: $@(Model.PrimaryIncome + Model.MiscIncome - (@Model.NecessarySpend + @Model.DiscretionarySpend))</div>

<form action="/Cashflow/Delete/@Model.CashflowId" method="post">
    <input type="submit" value="Delete" />
</form>
